<h1>Fight!</h1>
<h3>Enter names to begin</h3>

<form action="/names" method="post">

  <label for="player_1_name">
    Player 1 Name
    <input type="text" name="player_1_name">
  </label>

  <label for="player_2_name">
    Player 2 Name
    <input type="text" name="player_2_name">
  </label>
  <button type="submit" value="submit">Start</button>
</form>
