<iframe src="https://giphy.com/embed/rQJF42ylb31iE"
width="480" height="197" frameBorder="0" class="giphy-embed"
allowFullScreen></iframe></br></br>

<div style="font-size: 28px">
<%= @player_1_name %> vs <%= @player_2_name %>
<br><br>
<%= @player_2_name %> Health: <%= @player_2_health %>

<form action="/confirmation" method="get">
<button type="submit" value="attack">Attack</button>
</form>

<div>
